@use '../mixins/resposive.scss' as *;
.list{

    &--time ::marker{
        color: var(--dark-raspberry);
        
    }
    &--time{
        width: 263px;
        margin-inline: auto;
        font-family: "Outfit", sans-serif;
        font-size: 16px;
        line-height: 150%;
        margin: 0;
        color: var(--wenge-brown);
        @include responsive(desktop){
            width: 656px;
            margin-inline: auto;
        }
    }
    &--ingredients{
        width: 311px;
        margin-inline: auto;
        font-family: "Outfit", sans-serif;
        font-size: 16px;
        line-height: 150%;
        margin: 1rem;
        color: var(--wenge-brown);
        @include responsive(desktop){
            width: 656px;
            margin-inline: auto;
        }
    }
    &--ingredients ::marker{
        color: var(--dark-raspberry);}

    &--instructions{
        width: 311px;
        margin-inline: auto;
        font-family: "Outfit", sans-serif;
        font-size: 16px;
        line-height: 150%;
        margin: 1rem;
        color: var(--wenge-brown);
        @include responsive(desktop){
            width: 656px;
            margin-inline: auto;
        }
    }
    &--instructions ::marker{
        color: var(--dark-raspberry);}
    
    &--nutrition{
        width: 311px;
        margin-inline: auto;
        font-family: "Outfit", sans-serif;
        font-size: 16px;
        line-height: 150%;
        margin: 1rem;
        color: var(--wenge-brown);
        border-bottom: solid 1px var(--white-coffe);
        padding-bottom: 1rem;
        margin-inline: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 32px;
        padding-right: 32px;

        @include responsive(desktop){
            width: 656px;
            justify-content: space-between;
            padding-left: 32px;
            padding-right: 250px;
        }
    }
}