@use '../mixins/resposive.scss' as *;

.text{
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--wenge-brown);
    width: 311px;
    margin-inline: auto;
    margin-bottom: 32px;
    @include responsive(desktop){
        width: 656px;
        margin-inline: auto;
    }
}
.brandy-red {
    color: var(--brandy-red);
}